/* faq */
#home header {
    width: 100%;
    display: block;
}
#home table.default tr td{
    font-size: 20px;
}
#home table.default tr td:nth-child(2) {
    width: 5%;
    position: relative;
}
#home table.default tr td:nth-child(2) img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home_get header {
    width: 100%;
    display: block;
}
#home_get header h2 {
    font-size: 1.25em;
}
#home_get .row {
    margin-left: 0;
    margin-bottom: 1em;
}
.info {
    margin: 0;
    padding: 0 2.5em 3em 3.5em;
}
.info h5 {
    margin: 0.5em 0 0;
}
.info p {
    margin: 0;
}
.info p img {
    width: 0.8em;
    height: auto;
    margin-right: 0.5em;
}
.info button {
    margin-top: 4em;
    padding: 0.5em 1em;
    background: #f4f4f4;
    color: #1e2c3c;
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info button img {
    width: 0.8em;
    height: auto;
    margin-right: 0.5em;
}
#home_get .row p {
    padding: 0 4.5em;
    font-size: 20px;
}
/* 1:1 채팅 */
#categoryButtons {
    margin-bottom: 0.5em;
}
#categoryButtons button {
    font-size: 0.7em;
    padding: 0.3em 1em;
    border-radius: 10px;
    background: #BF9A99;
    font-weight: 400;
}
.container {
    display: flex;
    flex-direction: column;
}
.message {
    position: relative;
    max-width: 45%;
    border-radius: 30px;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    white-space: pre-line;
    box-shadow: 5px 5px 8px #b4bdc6;
}
.admin-message p,
.user-message p {
    margin-bottom: 0;
    color: #1e2c3c;
    line-height: 1.2em;
}
.admin-message p {
    color: #eceef1;
}
.message.user-message {
    background: #FFCCCB;
    text-align: right;
    align-self: flex-end; /* 오른쪽으로 정렬합니다. */
    margin-left: auto; /* 왼쪽 여백을 설정합니다. */
}
.message.admin-message {
    background: #806666;
    margin-right: auto;
}
.admin-message::before,
.user-message::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
}
.user-message::before {
    top: 0;
    right: 2px; /* 삼각형 위치 조정 */
    border-color: #FFCCCB transparent transparent transparent;
}
.admin-message::before {
    bottom: 0;
    left: 2px; /* 삼각형 위치 조정 */
    border-color: transparent transparent #806666 transparent;
}
.message.info-status {
    position: relative;
    text-align: center;
    background: transparent;
    padding: 0.5em;
    margin: 0;
    box-shadow: 0 0 0;
    max-width: 100%;
}
.message.info-status::before,
.message.info-status::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #eaecef; /* 선의 색상 */
}
.message.info-status::before {
    left: 0;
    transform: translateY(-50%);
}
.message.info-status::after {
    right: 0;
    transform: translateY(-50%);
}
.message.info-status p {
    margin: 0;
    font-size: 0.6em;
    color: #d9dee3;
}
.input-div {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.input-div input {
    width: 88%;
    padding: 0.3em 0 0.3em 1em;
    border-radius: 10px;
    border: 1px solid #403333;
    font-size: 0.8em;
}
.input-div input:active,
.input-div input:focus {
    border: 1px solid #403333 !important;
}
.input-div button {
    width:10%;
    font-size: 0.7em;
    padding: 0.8em 1em;
    background: #403333;
    border-radius: 15px;
}
.admin-status {
    font-size: 0.7em;
    color: #aaaaaa;
    margin-left: 1em;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
#dots {
    margin-left: 0.2em;
}
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 2px;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
/* 이메일 보내기 contact */
#contact header {
    width: 100%;
    display: block;
}
#contact > header > p {
    font-size: 20px;
}