<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Navbar -->
<nav class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar" style="margin-bottom: 10px;">
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                        aria-label="Search..."
                        class="form-control border-0 shadow-none"
                        placeholder="Search..."
                        type="text"
                />
            </div>
        </div>
    </div>
</nav>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SockJS 클라이언트 라이브러리 비동기 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>

    <!-- STOMP 클라이언트 라이브러리 비동기 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <title>Event List</title>
    <style>
        .modal {
            display: none; /* 기본적으로 모달을 숨김 */
            position: fixed;
            z-index: 99999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh; /* 모달 창의 높이를 화면 전체로 설정 */
            background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-height: 60vh; /* 모달 내용의 최대 높이 설정 */
            overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        td, th {
            padding: 15px;
        }

        .no-rooms-message {
            text-align: center;
            font-size: 16px;
            color: #666;
            padding: 20px 0;
        }
    </style>
</head>
<body>
<!-- Navbar 생략 -->
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header">상담 중</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>방 번호</th>
                        <th>카테고리</th>
                        <th>메세지</th>
                        <th>회원 이메일</th>
                        <th>회원 이름</th>
                    </tr>
                    </thead>
                    <tbody class="active-chat-table">
                    <!-- 활성 채팅방은 동적으로 추가 -->
                    </tbody>
                </table>
                <div id="active-no-rooms" class="no-rooms-message" style="display: none;">상담문의가 없습니다</div>
                <!-- 활성 채팅방 페이지네이션 -->
                <div id="active-pagination"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">상담 완료</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>방 번호</th>
                        <th>카테고리</th>
                        <th>메세지</th>
                        <th>회원 이메일</th>
                        <th>회원 이름</th>
                    </tr>
                    </thead>
                    <tbody class="inactive-chat-table">
                    <!-- 비활성 채팅방은 동적으로 추가-->
                    </tbody>
                </table>
                <div id="inactive-no-rooms" class="no-rooms-message" style="display: none;">상담문의가 없습니다</div>
                <!-- 비활성 채팅방 페이지네이션 -->
                <div id="inactive-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="userEmail"></div> <!-- 유저 이메일이 출력됨-->
        <div id="messages"></div>  <!-- 메세지가 출력되는 곳-->
        <div>
            <div class="input-div">
                <input type="text" id="message" placeholder="Type a message..."/>
                <button onclick="sendMessage()">입력</button>
                <button onclick="sendEndChatMessage()">대화 종료</button>
            </div>
            <div id="typingIndicatorDTO" class="admin-status" style="display: none;">상대방이 채팅 중입니다<span id="dots"></span></div> <!-- 타이핑 인디케이터 표시 부분 추가 -->
        </div>
    </div>
</div>
<!-- 모듈 -->
<script type="module">

    import {updateTimeSinceCreated} from '/modules/timeSinceCreated.js'; //시간 경과 모듈

    import {
        connectWebSocket,
        displayChatList,
        updateUnreadCount,
        adminEmail,
    } from '/modules/chatModule.js';

    $(document).ready(async function () {
        memberEmail = adminEmail //관리자 이메일
        let stompClient = null; // 전역 변수로 선언

        // 옵션 객체 정의
        const options2 = {
            subscribeCallback: handleWebSocketMessage, // 메시지를 받았을 때 호출할 콜백 함수 지정
            // displayChatListCallback: displayChatList, // 채팅 목록을 화면에 표시할 콜백 함수로 displayChatList 함수를 지정
            initialDataParams: [1, 1, 8, false] // 초기 데이터 로드 파라미터
        };

        // 웹소켓 연결
        stompClient = await connectWebSocket(options2);
        // 웹소켓 연결 후 경과시간모듈 호출
        updateTimeSinceCreated();

        // 페이지를 떠날 때 웹소켓 연결 해제
        $(window).on('beforeunload', function () {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
        });
    });

    //웹소켓으로부터 메시지를 받았을 때 호출되는 콜백 함수
    function handleWebSocketMessage(response) {
        displayChatList(response);  //화면에 표시
        updateUnreadCount(response); //않은 메시지 수를 업데이트
    }
</script>

<script>
    var memberEmail = ''; //로그인유저 이메일
    var currentRecipient = ''; //받는 사람이메일
    var chatRoomTitle = ''; //카테고리
    var chatRoomId = ''; //채팅룸번호
    var status = null; //채팅방 상태
    var isConnected = false; //웹소켓 연결확인
    var stompClient = ``; // STOMP 클라이언트 변수 선언
    var typingTimeout = 0; //타이핑 타이머
    var TYPING_DELAY = 3000; // 타이핑 상태 업데이트를 위한 딜레이 시간 (3초)
    var typingIndicatorSent = false;  // 타이핑 상태가 이미 전송되었는지 여부를 저장하는 변수
    var activePage = 1; //활성화 페이징번호
    var inactivePage = 1; //비활성화 페이징번호
    var entranceStatus  = ""; //입장상태
    var dotTimer = null;  //점 애니메이션 타이머

    // DOM 요소를 가져오는 함수
    function getElement(id) {
        return document.getElementById(id);
    }

    // 메시지를 표시하는 함수
    function showMessage(message, updateTimestamp = true) {
        document.getElementById('typingIndicatorDTO').style.display = 'none';
        const messages = getElement('messages');
        var messageElementDiv = document.createElement('div');
        const messageElement = document.createElement('p');

        // 메시지가 '관리자 :'로 시작하면 관리자 메시지로 처리
        if (message.startsWith('관리자 :')) {
            messageElement.textContent = message.substring(6).trim(); // '관리자 :' 부분을 제외한 실제 메시지
            messageElementDiv.classList.add('admin-message');
        }else if (message.startsWith('이전')) {
            messageElement.textContent = message;
            messageElementDiv.classList.add('info-status');
        }  else {
            messageElement.textContent = message;
            messageElementDiv.classList.add('user-message');
        }

        messageElementDiv.appendChild(messageElement);
        messageElementDiv.classList.add('message');

        messages.appendChild(messageElementDiv);
    }

    function updateLastReadTimestamp(chatRoomId) {
        activePage = window.chatUtils.activePage;
        inactivePage = window.chatUtils.inactivePage;
        window.chatUtils.updateLastReadTimestamp(chatRoomId, activePage, inactivePage);
    }

    // Stomp 연결 함수
    function connect() {
        if (isConnected) return;

        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            subscribeToRecipient();
            sendAdminEnter();
            // 타이핑 이벤트를 감지하여 서버로 전송
            document.getElementById('message').addEventListener('input', handleTypingEvent);
        });
        isConnected = true;
    }

    // 수신자 구독
    function subscribeToRecipient() {
        stompClient.subscribe('/user/queue/private/' + chatRoomId, function (message) {

            document.getElementById('message').disabled = false;

            var parsedMessage = JSON.parse(message.body);
            chatRoomTitle = parsedMessage.chatRoomTitle;
            // currentRecipient = parsedMessage.sender;
            if (parsedMessage.typing === "typing") {  //상대방이 타이핑 중일때
                showTypingIndicator();
            } else if (parsedMessage.typing === "not_typing") { //상대방이 타이핑 안할때
                hideTypingIndicator();
            } else if(parsedMessage.status === 'active'){  //일반 메세지일때
                showMessage(parsedMessage.sender + ': ' + parsedMessage.content);
            }else{
                entranceStatus = parsedMessage.type
            }
        });
    }

    // 관리자가 채팅방에 입장했다는 알림을 전송
    function sendAdminExit() {
        const EnterNotification = {
            sender: memberEmail,
            chatRoomId: chatRoomId,
            recipient: currentRecipient,
            type: 'false'
        };
        stompClient.send("/app/chat/admin/exit", {}, JSON.stringify(EnterNotification));
        fetchChatRoomPresence(chatRoomId)
    }

    // 관리자가 채팅방에 입장했다는 알림을 전송
    function sendAdminEnter() {
        const EnterNotification = {
            sender: memberEmail,
            chatRoomId: chatRoomId,
            recipient: currentRecipient,
            type: 'true'
        };
        stompClient.send("/app/chat/admin/enter", {}, JSON.stringify(EnterNotification));
        fetchChatRoomPresence(chatRoomId)
    }

    // 메시지 전송 함수
    function sendMessage() {
        var messageContent = getElement('message').value;
        if (messageContent && currentRecipient) {
            var message = {
                chatRoomId: chatRoomId,
                sender: memberEmail,
                recipient: currentRecipient,
                content: messageContent,
                status: "active",
                type: entranceStatus,
                paging: {
                    activePage: activePage,
                    inactivePage: inactivePage
                }
            };
            stompClient.send("/app/chat/private", {}, JSON.stringify(message));
            showMessage('관리자 : ' + messageContent);
            getElement('message').value = '';

            // 메시지 전송 후 타이핑 상태 초기화
            clearTimeout(typingTimeout);
            typingIndicatorSent = false;

            const timestamp = new Date().getTime();
            localStorage.setItem(`lastReadTimestamp_${chatRoomId.toString()}`, timestamp.toString());
        }
    }

    // Enter 키 입력 시 메시지 전송
    document.getElementById("message").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            sendMessage();
        }
    });

    // 타이핑 이벤트를 처리하는 함수
    function handleTypingEvent() {

        // 처음 입력 시 타이핑 상태 전송
        if (!typingIndicatorSent) {
            const type = "typing";
            sendTypingIndicator(type);
            typingIndicatorSent = true;
        }

        // 기존 타이머 제거
        clearTimeout(typingTimeout);

        typingTimeout = setTimeout(function () {
            const type = "not_typing";
            sendTypingIndicator(type); // 사용자가 일정 시간 입력을 멈추면 타이핑 상태 전송
            typingIndicatorSent = false; // 타이핑 상태 초기화
        }, TYPING_DELAY);
    }

    // 타이핑 인디케이터 전송 함수
    function sendTypingIndicator(type) {

        var typingIndicatorDTO = {
            chatRoomId: chatRoomId,
            sender: memberEmail,
            recipient: currentRecipient,
            typing: type
        };
        stompClient.send("/app/chat/typing", {}, JSON.stringify(typingIndicatorDTO));
    }

    // 종료 메시지 전송 함수
    function sendEndChatMessage() {
        var endUserChatMessage = {
            chatRoomId: chatRoomId,
            sender: memberEmail,
            recipient: currentRecipient,
            content: '상담이 완료되었습니다.',
            status: "inactive",
            type: "false"
        };

        stompClient.send("/app/chat/private", {}, JSON.stringify(endUserChatMessage));
        // 연결종료
        disconnect();
        // 관리자 측 채팅창에도 메시지 표시
        showMessage(endUserChatMessage.content);
        //입력필드 비활성화
        document.getElementById('message').disabled = true;
    }

    // 메시지 가져오기 함수
    function fetchMessages(chatRoomId) {

        fetch(`/chat/clickChat/${chatRoomId}`)
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok ' + response.statusText);
                return response.json();
            })
            .then(data => handleMessages(data, chatRoomId))
            .catch(error => console.error('Error fetching messages:', error));
    }

    // 메시지 처리 함수
    function handleMessages(data, chatRoomId) {

        // 마지막 읽은 시간 타임스탬프를 로컬스토리지에서 가져오고 없으면 0으로 초기화
        let lastReadTimestamp = parseInt(localStorage.getItem(`lastReadTimestamp_${chatRoomId}`), 10) || 0;
        let unreadMessageFlag = false;

        data.forEach(item => {
            item.messages.forEach(message => {
                let displayMessage = message.recipient === currentRecipient ? `관리자 : ${message.content}` : `${message.sender} : ${message.content}`;
                showMessage(displayMessage);

                // 메시지의 생성 시간을 타임스탬프로 변환
                let messageTimestamp = new Date(message.createAt).getTime();

                // 메시지 생성 시간이 마지막 읽은 시간 이후, 플래그가 false이며, 읽은 시간이 없으면
                if (messageTimestamp > lastReadTimestamp && !unreadMessageFlag && lastReadTimestamp !== 0) {
                    showMessage('이전 메시지');
                    unreadMessageFlag = true;
                }
            });
        });

        //채팅중이 아니면 메세지비화설화
        document.getElementById('message').disabled = !data.some(item => item.type === "active");
        updateLastReadTimestamp(chatRoomId);
    }

    function fetchChatRoomPresence(chatRoomId) {
        fetch('/chatRoomPresence?chatRoomId=' + chatRoomId)
            .then(response => response.json())
            .then(data => {
                // 받아온 데이터를 처리
                console.log('chatRoom presence:', data);

                // 여기서 입장 상태를 UI에 반영하거나 필요한 작업 수행
                // 예시: 입장 상태가 true인 경우 처리
                entranceStatus = data[currentRecipient] || false;
                console.log("currentRecipient의 입장 상태 " + currentRecipient + entranceStatus)
            })
            .catch(error => console.error('Error fetching admin presence:', error));
    }

    // 타이핑 인디케이터를 보여주는 함수
    function showTypingIndicator() {
        document.getElementById('typingIndicatorDTO').style.display = 'block'; // 타이핑 인디케이터 표시
    }

    // 타이핑 인디케이터를 숨기는 함수
    function hideTypingIndicator() {
        document.getElementById('typingIndicatorDTO').style.display = 'none'; // 타이핑 인디케이터 숨김
    }

    // 채팅 모달 열기 함수
    function openChatModal(row) {
        chatRoomId = row.getAttribute('data-room-id');  //클릭한 룸 아이디
        currentRecipient = row.querySelector('td:nth-child(4)').innerText; // 현재 수신자 업데이트
        console.log("모달 클릭시 currentRecipient" + currentRecipient)
        getElement('messages').innerHTML = ''; // 메시지 요소 초기화
        getElement('userEmail').innerText = currentRecipient;
        fetchMessages(chatRoomId); //해당 채팅방메세지 가져오기
        connect(); //웹소켓 연결
        startDotAnimation(); // 점 애니메이션 시작
        getElement('myModal').style.display = 'block';
    }

    // 채팅 모달 닫기 함수
    function closeModal() {
        getElement('myModal').style.display = 'none';
        sendAdminExit();
        disconnect(); //웹소켓 연결 해제
        currentRecipient = '';
        window.chatUtils.loadChatList(activePage, inactivePage, 8, false);
        clearDotAnimation(); // 점 애니메이션 정지
    }

    // 연결 해제 함수
    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        isConnected = false;
    }

    // 점 애니메이션 시작 함수
    function startDotAnimation() {
        clearDotAnimation(); // 기존 애니메이션 정지
        animateDots(); // 새로운 애니메이션 시작
    }

    // 점 애니메이션 정지 함수
    function clearDotAnimation() {
        if (dotTimer) {
            clearInterval(dotTimer); // 점 애니메이션 인터벌 해제
            dotTimer = null; // dotTimer 초기화
        }
        var dotsContainer = getElement('dots');
        dotsContainer.innerHTML = ''; // 점 요소 초기화
    }

    // 점을 추가하고 제거하는 함수
    function animateDots() {
        var dotsContainer = document.getElementById('dots');
        var maxDots = 3;
        var dotInterval = 500; // 점이 나타나는 시간 간격
        var dotLifetime = 1500; // 점이 화면에 유지되는 시간

        function addDot() {
            var dot = document.createElement('span');
            dot.className = 'dot';
            dotsContainer.appendChild(dot);

            setTimeout(function() {
                if (dot.parentNode === dotsContainer) {
                    dotsContainer.removeChild(dot);
                }
            }, dotLifetime);
        }

        var dotCount = 0;
        dotTimer = setInterval(function() {
            if (dotCount < maxDots) {
                addDot();
                dotCount++;
            } else {
                dotCount = 0; // 점 카운트 리셋
            }
        }, dotInterval);
    }

    // 점 애니메이션을 모달이 열릴 때부터 시작
</script>
</body>
</html>