<!-- Navbar -->

<style>

    /* 모달 스타일 */
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }

    .actor-checkbox {
        margin-right: 10px; /* 체크박스와 이름 사이의 간격 설정 */
    }

    .modal-content {
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        z-index: 99999;
        width: 80%;
        max-width: 600px;
        background-color: #fefefe;
        position: relative;
    }

    .close {
        color: #aaa;
        position: absolute;
        z-index: 999999;
        top: 10px;
        right: 20px;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
    }

    /* 비디오 컨테이너 스타일 */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .form-check-wrapper {
        max-width: 800px;
    }

    .form-control {
        max-width: 800px; /* 입력 필드의 최대 너비를 조정 */
    }

    .form-check-wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 5px 20px;
    }

    .form-check {
        display: inline-block;
    }
</style>

<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar" style="margin-bottom: 10px;">
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <h4 id="formTitle">영화 등록하기</h4>
            </div>
        </div>
        <!-- /Search -->
    </div>
</nav>
<!-- / Navbar -->
<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-body">
                <form id="movieForm" action="/movies/regist"  method="post" enctype="multipart/form-data" >
                    <div class="mb-3">
                        <label class="form-label" for="id">영화 ID</label>
                        <div class="input-group">
                        <input class="form-control" id="id" name="id" th:value="${movie != null ? movie.movieId : ''}" placeholder="ID를 입력해주세요." required type="text"/>
                        <button class="btn btn-outline-secondary" type="button" id="check-id-button" onclick="duplicateCheck()">중복 확인</button>
                        </div>
                        <span id="id-error" class="error-message"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="title">영화 제목</label>
                        <input class="form-control" id="title" name="title" th:value="${movie != null ? movie.title : ''}" placeholder="상품 제목을 입력해주세요."
                               required type="text"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="overview">영화 줄거리</label>
                        <textarea
                                class="form-control"
                                id="overview"
                                name="overview"
                                th:text="${movie != null ? movie.overview : ''}"
                                placeholder="영화 줄거리를 입력해주세요." required
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="runtime">상영시간</label>
                        <input class="form-control" id="runtime" name="runtime"
                               th:value="${movie != null ? movie.movieDetail.runtime : ''}"
                               placeholder="상영시간을 입력해주세요" type="number"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cert-all" style="margin-right: 15px">관람 등급</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="certifications" id="cert-all" value="전체이용가" th:checked="${movie != null && movie.movieDetail.certification == '전체이용가'}">
                            <label class="form-check-label" for="cert-all">전체 관람가</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="certifications" id="cert-12" value="12세 이상 관람가" th:checked="${movie != null && movie.movieDetail.certification == '12세 이상 관람가'}">
                            <label class="form-check-label" for="cert-12">12세 이상 관람가</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="certifications" id="cert-15" value="15세 이상 관람가" th:checked="${movie != null && movie.movieDetail.certification == '15세 이상 관람가'}">
                            <label class="form-check-label" for="cert-15">15세 이상 관람가</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="certifications" id="cert-18" value="18세 이상 관람가" th:checked="${movie != null && movie.movieDetail.certification == '18세 이상 관람가'}">
                            <label class="form-check-label" for="cert-18">18세 이상 관람가</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="releaseDate">개봉 일자</label>
                        <input class="form-control" id="releaseDate" name="releaseDate" th:value="${movie != null ? movie.movieDetail.releaseDate : ''}" placeholder="개봉 일자를 입력해주세요. ex) 2024-05-05"
                               required type="date"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="RegisteredPoster">포스터 이미지</label>
                        <input class="form-control" id="RegisteredPoster" name="RegisteredPoster"
                               placeholder="포스터 이미지명을 등록해주세요." required type="file" accept=".png, .jpg, .jpeg" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="RegisteredBackdrop">배경 이미지</label>
                        <input class="form-control" id="RegisteredBackdrop" name="RegisteredBackdrop" placeholder="배경 이미지를 등록해주세요."
                               required type="file" accept=".png, .jpg, .jpeg" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="RegisteredStillCut">스틸컷 이미지</label>
                        <input class="form-control" id="RegisteredStillCut" name="RegisteredStillCut[]" placeholder="스틸컷 이미지를 등록해주세요."
                               required type="file" accept=".png, .jpg, .jpeg" multiple />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="video">트레일러</label>
                        <div class="input-group">
                            <input class="form-control" id="video" name="video"
                                   th:value="${movie != null ? movie.movieDetail.video : ''}"
                                   required type="text"/>
                            <button class="btn btn-outline-secondary" type="button" id="check-trailer-btn" onclick="previewTrailer()">미리보기</button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="genre-action">장르</label>
                        <div class="form-check-wrapper">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-sf" value="SF">
                            <label class="form-check-label" for="genre-sf">SF</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-adventure" value="모험">
                            <label class="form-check-label" for="genre-adventure">모험</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-action" value="액션">
                            <label class="form-check-label" for="genre-action">액션</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-comedy" value="코미디">
                            <label class="form-check-label" for="genre-comedy">코미디</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-anime" value="애니메이션">
                            <label class="form-check-label" for="genre-anime">애니메이션</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-family" value="패밀리">
                            <label class="form-check-label" for="genre-family">패밀리</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-romance" value="로맨스">
                            <label class="form-check-label" for="genre-romance">로맨스</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-drama" value="드라마">
                            <label class="form-check-label" for="genre-drama">애니메이션</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-horror" value="호러">
                            <label class="form-check-label" for="genre-horror">공포</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-thriller" value="스릴러">
                            <label class="form-check-label" for="genre-thriller">스릴러</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-fantasy" value="판타지">
                            <label class="form-check-label" for="genre-fantasy">판타지</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-history" value="역사">
                            <label class="form-check-label" for="genre-thriller">역사</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-crime" value="범죄">
                            <label class="form-check-label" for="genre-crime">범죄</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-mystery" value="미스터리">
                            <label class="form-check-label" for="genre-mystery">미스터리</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-documentary" value="다큐멘터리">
                            <label class="form-check-label" for="genre-documentary">스릴러</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-war" value="전쟁">
                            <label class="form-check-label" for="genre-war">전쟁</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres[]" id="genre-music" value="음악">
                            <label class="form-check-label" for="genre-music">음악</label>
                        </div>
                        </div>
                        <!-- 추가로 필요한 장르 체크박스 추가 -->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="actorSearch">배우 검색</label>
                        <input class="form-control" id="actorSearch" type="text" placeholder="배우 이름을 입력하세요" oninput="searchActors()">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="actorCheckboxes">배우 선택</label>
                        <div id="actorCheckboxes" >
                            <!-- 검색 결과가 여기에 체크박스로 추가됩니다 -->
                        </div>
                    </div>
                    <div id="selectedActorsDisplay"></div>
                    <input type="hidden" id="selectedActorIds" name="actors" value="">
                    <button class="btn btn-primary" type="button" id="formSubmit" onclick="validateForm()">등록</button>
                    <button class="btn btn-secondary" type="button" id="formCancel" onclick="cancelForm()">취소</button>
                </form>
            </div>
        </div>
    </div>
</div>  

<!-- Modal -->
<div id="trailerModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="video-container">
            <iframe id="trailerIframe" allowfullscreen></iframe>
        </div>
    </div>
</div>


<!--스윗얼럿 모듈-->
<script type="module" src="/modules/alerts.js"></script>
<script>


    // 취소 버튼 (뒤로가기)
    function cancelForm() {
        fetch('/admin/movieList', {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                $('.container-xxl').load('/admin/movieList', { type : 'POST' });
            } else {
                console.error('POST request failed');
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    }


    // 전역 변수가 이미 선언되었는지 확인
    if (typeof window.isEditMode === 'undefined') {
        // 전역 변수가 선언되지 않았다면 초기화
        window.isEditMode = false;
    }

    // 수정 모드일 때 초기화 함수
    function initializeEditMode(movieId) {

        const idInput = document.getElementById('id');
        const posterPathInput = document.getElementById('RegisteredPoster');
        const backdropPathInput = document.getElementById('RegisteredBackdrop');
        const stillCutPathsInput = document.getElementById('RegisteredStillCut');
        const actorInput = document.getElementById('actorSearch');
        const formTitle = document.getElementById('formTitle');
        const formSubmit = document.getElementById('formSubmit');


        window.isEditMode = true;
        formTitle.textContent = ('영화 수정하기');
        formSubmit.textContent = ('수정')
        idInput.value = movieId;
        idInput.disabled = true; // 수정 모드에서는 ID 필드를 비활성화합니다.
        posterPathInput.disabled = true;
        backdropPathInput.disabled = true;
        stillCutPathsInput.disabled = true;
        actorInput.disabled = true;
    }


    function duplicateCheck() {

        const id = document.getElementById('id').value.trim();
        const idError = document.getElementById('id-error');

        if(!/^\d{10}$/.test(id)) {
            idError.textContent = '영화 ID는 10자리를 입력해주세요.';
            idError.style.color = 'red';
            return;
        }
        fetch(`/movies/checkId?id=${id}`)
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    idError.textContent = '이미 존재하는 영화 ID 입니다.';
                    idError.style.color = 'red';
                } else {
                    idError.textContent = '사용 가능한 영화 ID 입니다.';
                    idError.style.color = 'green';
                }
            })
            .catch(error => {
                console.error('Error checking movie ID:', error);
                idError.textContent = 'ID 확인 중 오류가 발생했습니다.';
                idError.style.color = 'red';
            });

    }


    // 폼 제출 및 벨리데이션
    function validateForm() {

        // 폼 벨리데이션
        const form = document.getElementById('movieForm');
        const idInput = document.getElementById('id');
        const titleInput = document.getElementById('title');
        const overviewInput = document.getElementById('overview');
        const runtimeInput = document.getElementById('runtime');
        const certificationInputs = document.querySelectorAll('input[name="certifications"]');
        const releaseDateInput = document.getElementById('releaseDate');
        const posterPathInput = document.getElementById('RegisteredPoster');
        const backdropPathInput = document.getElementById('RegisteredBackdrop');
        const stillCutPathsInput = document.getElementById('RegisteredStillCut');
        const videoInput = document.getElementById('video');
        const id = idInput.value.trim();
        const idError = document.getElementById('id-error');

        let resetForm = false;

        console.log("영화 ID:", id);

        if (!window.isEditMode) { // 수정 모드가 아닐 때만 ID 유효성 검사를 합니다.
            console.log("영화 ID:", id);
            if (!/^\d{10}$/.test(id)) {
                window.warningAlert('영화 ID는 10자리를 입력해주세요');
                    idInput.focus();
                return false;
            }
        }


            if (titleInput.value.trim() === '') {
                window.warningAlert('영화 제목을 입력해주세요.');
                return false;
            }

        if (overviewInput.value.trim() === '') {
            window.warningAlert('영화 줄거리를 입력해주세요.');
            return false;
        }

        const runtime = runtimeInput.value.trim();
        if (runtime === '') {
            window.warningAlert('상영시간을 입력해주세요.');
            return false;
        } else if (isNaN(runtime)) {
            window.warningAlert('상영시간을 숫자로 입력해주세요.')
            return false
        }

        const selectedCertification = Array.from(certificationInputs).find(input => input.checked);
        if (!selectedCertification) {
            window.warningAlert('관람 등급을 선택해주세요.');
            return false;
        }


        const releaseDate = releaseDateInput.value;
        if (releaseDate === '') {
            window.warningAlert('개봉 일자를 입력해주세요.');
            return false;
        }

        // 수정 모드 일때는 스킵 / 등록 모드 일때만 유효성검사 진행
        if (!window.isEditMode) {
            const posterPath = posterPathInput.value.trim();
            if (posterPath === '') {
                window.warningAlert('포스터 이미지를 등록해주세요.');
                return false;
            }

            const backdropPath = backdropPathInput.value.trim();
            if (backdropPath === '') {
                window.warningAlert('배경 이미지를 등록해주세요.');
                return false;
            }

            const stillCutPaths = stillCutPathsInput.value.trim();
            if (stillCutPaths === '') {
                window.warningAlert('스틸컷 이미지를 등록해주세요.');
                return false;
            }

            const video = videoInput.value.trim();
            if (video === '') {
                window.warningAlert('트레일러 키를 입력해주세요.');
                return false;
            }
        }

        const genreCheckboxes = document.querySelectorAll('input[name="genres[]"]');
        let isGenreSelected = false;
        genreCheckboxes.forEach(checkbox => {
            if (checkbox.checked) {
                isGenreSelected = true;
                return;
            }
        });

        if (!isGenreSelected) {
            window.warningAlert('장르를 선택해 주세요.');
            return false;
        }

        const actorCheckboxes = document.querySelectorAll('input[name="actors[]"]');
        let isActorSelected = false;
        actorCheckboxes.forEach(checkbox => {
            if (checkbox.checked) {
                isActorSelected = true;
                return;
            }
        });

        if (!isActorSelected && !window.isEditMode) {
            window.warningAlert('배우를 선택해 주세요.');
            return false;
        }

        // 선택된 배우 ID 배열 생성
        const selectedActorIds = window.selectedActors.map(actor => actor.actorId);
        document.getElementById('selectedActorIds').value = selectedActorIds;

        // 비활성화된 필드들을 활성화
        const disabledFields = form.querySelectorAll(':disabled');
        disabledFields.forEach(function(field) {
            field.disabled = false;
        });



        // 모든 유효성 검사 통과 시 폼 제출
        const formData = new FormData(form);

        // 수정일때 : formData에 기존 id 추가
        if (window.isEditMode) {
            formData.set('RegisteredPoster', null);
            formData.set('RegisteredBackdrop', null);
        }



        // 스틸컷 이미지를 FormData에 추가
        const stillCutFiles = stillCutPathsInput.files;
        if (stillCutFiles.length > 0) {
            for (let i = 0; i < stillCutFiles.length; i++) {
                formData.append('RegisteredStillCut', stillCutFiles[i]);
            }
        }


        console.log("formData 체크 === " + formData)

        fetch('/movies/regist', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text); });
                }
                return response.text();
            })
            .then(data => {
                console.log('Form submitted successfully:', data);
                if(isEditMode) {
                    window.SuccessAlert('수정되었습니다.')
                } else {
                    window.SuccessAlert('영화가 성공적으로 등록되었습니다.');
                }
                console.log("formData 체크 === " + formData)
                console.log("data 체크 === " + data)
                resetForm = true;
            })
            .catch(error => {
                for (var pair of formData.entries()) {
                    console.log(pair[0] + ': ' + pair[1]);
                }
                console.error('Error submitting form:', error);
                if (error.message.includes('이미 존재하는 영화 ID입니다.')) {
                    window.errorAlert('이미 존재하는 영화 ID입니다.');
                } else {
                    window.errorAlert('폼 제출 중 오류가 발생했습니다: ' + error.message);
                }
            })
            .finally(() => {
                // fetch 요청이 완료된 후 폼을 리셋합니다.
                if (resetForm) {
                    form.reset();
                    genreCheckboxes.forEach(checkbox => checkbox.checked = false);
                    certificationInputs.forEach(input => input.checked = false);
                    idError.textContent = '';
                    window.selectedActors = [];
                    updateSelectedActorsDisplay();

                    if(window.isEditMode){
                        window.isEditMode = false;
                    }

                    $('.container-xxl').load('/admin/movieList', { type: 'POST' });
                }
            });

        return false; // 기본 폼 제출 방지
    }

    // 파일 input 변경 시 이벤트 처리
    document.getElementById('RegisteredStillCut').addEventListener('change', function(event) {
        const files = event.target.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            console.log('Selected file:', file);
        }
    });

    // 유튜브 트레일러 키 미리보기

    // 모달 열기 함수
    function openModal() {
        document.getElementById('trailerModal').style.display = 'block';
    }

    // 모달 닫기 함수
    function closeModal() {
        document.getElementById('trailerModal').style.display = 'none';
        // 비디오 멈추기
        document.getElementById('trailerIframe').src = '';
    }

    // 미리보기 버튼 클릭 시 호출되는 함수
    function previewTrailer() {
        const videoKey = document.getElementById('video').value.trim();
        const videoUrl = `https://www.youtube.com/embed/${videoKey}?autoplay=1`; // autoplay=1을 추가하여 자동 재생

        // 모달 내부의 iframe에 YouTube 비디오 URL 설정
        document.getElementById('trailerIframe').src = videoUrl;

        // 모달 열기
        openModal();
    }

    // 배우 검색 관련
    if (typeof window.selectedActors === 'undefined') {
        // 전역 변수가 선언되지 않았다면 초기화
        // 선택된 배우 목록을 저장할 배열
        window.selectedActors = [];
    }
    if (typeof window.actors === 'undefined') {
        // 전역 변수가 선언되지 않았다면 초기화
        // 배우 정보를 저장할 배열
        window.actors = [];
    }


    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('actorSearch').addEventListener('input', searchActors);
    });

    // 선택된 배우 초기화 함수 ( 등록하지 않아도 페이지 이동하면 선택된 배우 초기화되게 하는 함수 )
    function clearSelectedActors() {
        window.selectedActors = [];
        updateSelectedActorsDisplay(); // 선택된 배우 목록 업데이트
    }

    function searchActors() {
        const query = document.getElementById('actorSearch').value;
        if (query.length >= 2) {
            fetch(`/actors/search?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    const actorCheckboxes = document.getElementById('actorCheckboxes');
                    actorCheckboxes.innerHTML = '';

                    // 검색 결과로 받은 배우 정보를 저장
                    window.actors = data;

                    data.forEach(actor => {
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.id = `actor-${actor.actorId}`;
                        checkbox.name = 'actors[]';
                        checkbox.value = actor.actorId;

                        // 현재 선택된 배우 목록에 있는 배우인지 확인하여 체크 여부 설정
                        checkbox.checked =  window.selectedActors.some(selectedActor => selectedActor.actorId === actor.actorId);

                        const label = document.createElement('label');
                        label.htmlFor = `actor-${actor.actorId}`;
                        label.textContent = actor.actorName;

                        const div = document.createElement('div');
                        div.appendChild(checkbox);
                        div.appendChild(label);

                        actorCheckboxes.appendChild(div);

                        checkbox.addEventListener('change', function() {
                            if (checkbox.checked) {
                                if (!window.selectedActors.some(selectedActor => selectedActor.actorId === actor.actorId)) {
                                    window.selectedActors.push(actor);
                                }
                            } else {
                                window.selectedActors =  window.selectedActors.filter(selectedActor => selectedActor.actorId !== actor.actorId);
                            }
                            updateSelectedActorsDisplay(); // 선택된 배우 목록을 업데이트
                        });
                    });

                    // updateSelectedActorsDisplay();
                })
                .catch(error => {
                    console.error('Error searching actors:', error);
                });
        }
    }

    // 선택된 배우 목록을 업데이트하고 화면에 표시하는 함수
    function updateSelectedActorsDisplay() {
        const selectedActorsDisplay = document.getElementById('selectedActorsDisplay');
        selectedActorsDisplay.innerHTML = '';

        if (window.selectedActors.length > 0) {
            const selectedActorsText = document.createElement('p');
            selectedActorsText.textContent = "선택한 배우: " +  window.selectedActors.map(selectedActor => {
                return selectedActor ? selectedActor.actorName : "";
            }).join(", ");

            selectedActorsDisplay.appendChild(selectedActorsText);
        }
    }


</script>