<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 등록</title>
    <!-- 필요한 CSS 파일 및 기타 헤더 내용 -->
</head>
<body>
<h4 class="fw-bold py-3 mb-4">이벤트 수정</h4>
<!-- Basic Layout -->

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-body">
                <form action="/admin/eventUpdate" method="post">
                    <input type="hidden" name="pageNumber" id="pageNumber">
                    <input type="hidden" name="memberEmail" id="memberEmail" th:value="${event.memberEmail}">
                    <input type="hidden" name="id" id="id" th:value="${event.id}">

                    <div class="mb-3">
                        <label class="form-label" for="eventName">이벤트 제목</label>
                        <input class="form-control" id="eventName" name="eventName" placeholder="이벤트 제목을 입력해주세요."
                               required type="text" th:value="${event.eventName}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="eventDetail">이벤트 상세 설명</label>
                        <input class="form-control" id="eventDetail" name="eventDetail"
                               placeholder="이벤트 상세 설명을 입력해주세요." required type="text" th:value="${event.eventDetail}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="eventImage">이미지 이름</label>
                        <input class="form-control" id="eventImage" name="eventImage"
                               placeholder="이미지 파일명을 입력해주세요. ex) event01.png" required type="text" th:value="${event.eventImage}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="eventAlt">이미지 alt 설명</label>
                        <input class="form-control" id="eventAlt" name="eventAlt" placeholder="이미지 alt 설명을 입력해주세요."
                               required type="text" th:value="${event.eventAlt}"/>
                    </div>
                    <button class="updatePageBt" type="submit">수정하기</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import { SuccessAlert } from "/modules/alerts.js";
        $('form').on('submit', function(e) {
            e.preventDefault();

            var pageNumber = sessionStorage.getItem('pageNumber');
            $('#pageNumber').val(pageNumber);
            var formData = $(this).serialize(); // 폼 데이터 직렬화

            $.ajax({
                type: "POST",
                url: "/admin/eventUpdate",
                data: formData,
                success: function(response) {
                    SuccessAlert("수정이 완료되었습니다.")
                    $('.container-xxl').html(response);
                    sessionStorage.removeItem('pageNumber');
                },
                error: function(error) {
                    console.log('폼 제출 실패', error);
                }
            });
        });
</script>
</body>
</html>