<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_total}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body class="left-sidebar is-preload">
<th:block layout:fragment="content">
    <div id="page-wrapper" class="bg-black-wrapper">

        <!-- 메인 -->
        <div class="wrapper style1 screening-schedule bg-black-wrapper">
            <div class="container">
                <article id="main" class="special">
                    <div class="row table-div">
                        <input type="hidden" th:value="${userAge}" class="user-age"/>
                        <input type="hidden" th:value="${movieId}" class="movieId"/>
                        <table id="schedule-table">
                            <thead>
                            <tr>
                                <th id="select-theater-th" colspan="2">영화관 선택</th>
                                <th id="select-movie-th">영화 선택</th>
                                <th id="select-time-th">시간 선택</th>
                            </tr>
                            </thead>
                            <tbody id="schedule-group">
                            <tr>
                                <td id="select-theater-group">
                                    <div id="select-region">
                                        <ul>
                                            <li class="region-btn">
                                                <a>서울</a>
                                                <input type="hidden" value="Seo" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>인천 / 경기</a>
                                                <input type="hidden" value="Inc" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>강원</a>
                                                <input type="hidden" value="Gan" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>대전 / 충청</a>
                                                <input type="hidden" value="Chu" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>대구 / 경북</a>
                                                <input type="hidden" value="Dae" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>부산 / 울산 / 경남</a>
                                                <input type="hidden" value="Bus" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>광주 / 전라</a>
                                                <input type="hidden" value="Gwa" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>제주</a>
                                                <input type="hidden" value="Jeju" class="region-value"/>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td id="theater-list">
                                    <div class="scrollable-content" style="padding: 0">
                                        <ul>
                                            <li class="info-text">지역을 선택해주세요.</li>
                                        </ul>
                                    </div>
                                </td>
                                <td id="select-movie-group">
                                    <div class="scrollable-content">
                                        <ul>
                                            <li class="movie-item" th:each="movie : ${movies}">
                                                <input type="hidden" th:value="${movie.id}"
                                                       th:data-poster="${movie.posterPath}"/>
                                                <img src="" alt="관람가 연령" class="certification-img"
                                                     th:data-certification="${movie.certifications}"/>
                                                <p th:text="${movie.title}"></p>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td id="schedule">
                                    <div id="select-date-group">
                                        <ul>
                                        </ul>
                                    </div>
                                    <div id="select-time-group">
                                        <div class="scrollable-content">
                                            <p class="info-text">지점, 영화, 날짜를 선택해주세요.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>

        </div>
    </div>

    <!-- 스크립트 -->
    <script src="/assets/js/jquery.min.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $(".region-btn").click(function (event) {
                event.preventDefault();
                $(".region-btn.clicked").removeClass("clicked");
                $(this).addClass('clicked');
                const regionValue = $(this).find('.region-value').val();
                $.ajax({
                    type: "GET",
                    url: "/reservation/getTheatersByRegion",
                    data: {
                        region: regionValue
                    },
                    success: function (data) {
                        const $ul = $("#theater-list ul");
                        $ul.empty();
                        if (data.length > 0) {
                            $.each(data, function (index, theater) {
                                const $li = $("<li></li>").text(theater.theaterName);
                                $li.addClass('theater-name');
                                $ul.append($li);
                            });

                            $('.theater-name').on('click', function (event) {
                                event.preventDefault();
                                $(".theater-name.clicked").removeClass("clicked");
                                $(this).addClass('clicked');
                                $('#select-theater-th').text($(this).text());

                                sendAjaxRequest();
                            });
                        } else {
                            const $li = $("<li></li>").text("해당 지역에 영화관이 없습니다.");
                            $li.addClass('info-text');
                            $ul.append($li);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX 요청 실패:", error);
                    }
                });
            });

            $('.certification-img').each(function () {
                let certification = $(this).data('certification'); // 관람 등급 데이터 가져오기

                switch (certification) {
                    case '12세 이상 관람가':
                        $(this).attr('src', '/images/ratings/12.png');
                        break;
                    case '15세 이상 관람가':
                        $(this).attr('src', '/images/ratings/15.png');
                        break;
                    case 19:
                    case '18세 이상 관람가':
                        $(this).attr('src', '/images/ratings/18.png');
                        break;
                    default:
                        $(this).attr('src', '/images/ratings/all.svg');
                }
            });

            $('.movie-item').on('click', function (e) {
                e.preventDefault();
                $('.movie-item').removeClass('clicked');
                $(this).addClass('clicked');
                $('#select-movie-th').text($(this).text());

                sendAjaxRequest();
            });

            $(".movie-item").each(function() {
                const itemMovieId = $(this).find("input[type='hidden']").val();
                const movieId = $('.movieId').val();
                if (itemMovieId === movieId) {
                    $(this).addClass("clicked");

                    var offsetTop = $(this).offset().top;
                    var scrollTo = offsetTop - $(window).height() / 2;

                    // 스크롤 애니메이션
                    $('#select-movie-group .scrollable-content').animate({
                        scrollTop: scrollTo
                    }, 500); // 애니메이션 속도 설정 (500ms)
                }
            });

            const dateGroup = $('#select-date-group ul');

            const today = new Date();
            const weekdays = ['일', '월', '화', '수', '목', '금', '토'];

            for (let i = 0; i < 8; i++) {
                const date = new Date(today);
                date.setDate(today.getDate() + i);

                const paragraph = document.createElement("li");
                paragraph.classList.add("date-btn");
                paragraph.innerHTML = "<h5>" + (date.getMonth() + 1) + "/" + date.getDate() + "</h5>" +
                    "<h6><div class='circle'>" + weekdays[(date.getDay()) % 7] + "</div></h6>";

                dateGroup.append(paragraph);
            }

            $('.date-btn').on('click', function (e) {
                e.preventDefault();
                $('.date-btn').removeClass('clicked');
                $(this).addClass('clicked');

                const h5 = $(this).find('h5').text();
                const date = formatDateToISO(h5);
                const h6 = $(this).find('h6').html();

                $('#select-time-th').html("<h5>" + date + "</h5><h6>" + h6 + "</h6>");

                sendAjaxRequest();
            });

            $('#select-time-group').on('click', '.schedule-item', function (e) {
                e.preventDefault();
                $('.schedule-item').removeClass('clicked');
                $(this).addClass('clicked');

                const moviePosterPath = $(".movie-item.clicked input[type='hidden']").data('poster');
                const h5 = $(".date-btn.clicked h5").text();
                const date = formatDateToISO(h5);
                const scheduleId = $(".schedule-item.clicked input.schedule-id").val();
                let startTime = $(".schedule-item.clicked h5").text();
                let endTime = $(".schedule-item.clicked input.end-time").val();
                let availableSeats = $(".schedule-item.clicked h6 span").text();
                let userAgeStr = $('.user-age').val();

                let year = parseInt(userAgeStr.substr(0, 2), 10);
                let month = parseInt(userAgeStr.substr(2, 2), 10);
                let day = parseInt(userAgeStr.substr(4, 2), 10);
                let startHour = parseInt(startTime.substr(0, 2), 10);
                let startMinute = parseInt(startTime.substr(3, 2), 10);

                let currentDate = new Date();
                let birthYear = null;
                if(year > 24) {
                    birthYear = 1900 + year; // 1900년대를 기준으로 연도 계산
                } else {
                    birthYear = 2000 + year;
                }
                let birthDate = new Date(birthYear, month - 1, day);

                // 만 나이 계산
                let age = currentDate.getFullYear() - birthDate.getFullYear();

                let currentMonth = currentDate.getMonth() + 1;
                let currentDay = currentDate.getDate();

                // 생일이 지났는지 체크하여 만 나이 조정
                if (currentMonth < month || (currentMonth === month && currentDay < day)) {
                    age--;
                }

                const certification = $(".movie-item.clicked .certification-img").data('certification');
                let imageUrl, certificationTitle, certificationInfo;

                switch (certification) {
                    case '12세 이상 관람가':
                        imageUrl = '/images/ratings/12.png';
                        certificationTitle = '12세 이상 관람가';
                        certificationInfo = `만 12세 이하 고객님은<br>
                                            반드시 부모님 또는 성인 보호자의<br>
                                            동반하에 관람이 가능합니다.<br>
                                            연령 확인 불가 시 입장이 제한될 수 있습니다.`;
                        break;
                    case '15세 이상 관람가':
                        imageUrl = '/images/ratings/15.png';
                        certificationTitle = '15세 이상 관람가';
                        certificationInfo = `이 영화는 15세 이상 관람가로, <br>
                                            청소년에게 부적절할 수 있는 강한 언어, 폭력 또는 <br>
                                            성적 내용이 포함되어 있습니다. <br>
                                            15세 미만의 관객은 관람이 제한됩니다.`;
                        break;
                    case 19:
                    case '18세 이상 관람가':
                        imageUrl = '/images/ratings/18.png';
                        certificationTitle = '18세 이상 관람가';
                        certificationInfo = `이 영화는 성인 대상의 콘텐츠로, <br>
                                            강한 폭력, 성적 내용, 또는 기타 성인만을 <br>
                                            위한 요소가 포함되어 있습니다. <br>
                                            18세 미만은 관람할 수 없습니다.`
                        break;
                    default:
                        imageUrl = '/images/ratings/all.svg';
                        certificationTitle = '전체 관람가';
                        certificationInfo = `이 영화는 모든 연령이 관람할 수 있는 <br>
                                            전체 관람가 등급입니다.<br>
                                            가족 모두가 즐길 수 있는 안전한 콘텐츠를 담고 있습니다.`;
                }

                Swal.fire({
                    title: `${date} ${startTime}~${endTime}`,
                    html: `남은 좌석 ${availableSeats}`,
                    imageUrl: `https://image.tmdb.org/t/p/w500/${moviePosterPath}`,
                    imageWidth: 200,
                    imageAlt: "영화 포스터",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "인원/좌석 선택",
                    cancelButtonText: "취소"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: certificationTitle,
                            html: certificationInfo,
                            imageUrl: imageUrl,
                            imageWidth: 100,
                            imageAlt: "연령고지 이미지"
                        }).then((innerResult) => {
                            if (innerResult.isConfirmed) {
                                if (result.isConfirmed) {
                                    if (age < 19 && certificationTitle === '18세 이상 관람가') {
                                        Swal.fire({
                                            position: "center",
                                            icon: "error",
                                            html: "죄송하지만, 본 영화는 19세 미만 회원님들에게는<br /> 관람이 제한됩니다.",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    } else if (age < 19 && (startHour >= 22 || (startHour === 22 && startMinute >= 0))) {
                                        Swal.fire({
                                            position: "center",
                                            icon: "error",
                                            html: "죄송하지만, 본 영화는 22:00 이후에 시작되어<br /> 19세 미만 회원님들에게는 관람이 제한됩니다.",
                                            showConfirmButton: false,
                                            timer: 5000
                                        });
                                    } else {
                                        window.location.href = `/reservation/seatSelection/${scheduleId}`;
                                    }
                                } else if (result.isDismissed) {
                                    $('.schedule-item').removeClass('clicked');
                                }
                            }
                        });
                    } else if (result.isDismissed) {
                        $('.schedule-item').removeClass('clicked');
                    }
                });
            });

            function sendAjaxRequest() {
                const theaterName = $(".theater-name.clicked").text();
                const movieId = $(".movie-item.clicked input[type='hidden']").val();
                const date = $(".date-btn.clicked h5").text();
                const isoDate = formatDateToISOJson(date);

                $.ajax({
                    type: "GET",
                    url: "/reservation/ByConditions",
                    data: {
                        theaterName: theaterName,
                        movieId: movieId,
                        date: isoDate
                    },
                    success: function (data) {
                        renderSchedules(data);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX 요청 실패:", error);
                    }
                });
            }

            function formatDateToISO(dateString) {
                const [month, day] = dateString.split('/');
                if (month && day) {
                    return new Date().getFullYear() + '-' + month.padStart(2, '0') + '-' + day.padStart(2, '0');
                } else {
                    return null; // 또는 다른 적절한 에러 처리
                }
            }

            function formatDateToISOJson(dateString) {
                const [month, day] = dateString.split('/');
                if (month && day) {
                    // 앞에 0을 제거하고, 그대로 반환합니다.
                    return new Date().getFullYear() + '-' + parseInt(month, 10) + '-' + parseInt(day, 10);
                } else {
                    return null; // 또는 다른 적절한 에러 처리
                }
            }

            function renderSchedules(schedules) {
                const selectTimeGroup = $("#select-time-group .scrollable-content");

                selectTimeGroup.empty();

                if (schedules.length === 0) {
                    const p = $(`<p class="info-text">조회가능한 상영시간이 없습니다.</p><p class="info-text">조건을 변경해주세요.</p>`)

                    selectTimeGroup.parent().addClass('info-none');
                    selectTimeGroup.addClass('info-none');
                    selectTimeGroup.append(p);
                }

                schedules.forEach(schedule => {
                    const theaterNumber = schedule.theaterNumber; // 극장 번호
                    const scheduleId = schedule.id;
                    const startTime = schedule.startTime; // 시작 시간
                    const endTime = schedule.endTime;
                    const totalSeats = schedule.totalSeats;
                    const availableSeats = schedule.availableSeats;
                    const sessionType = schedule.sessionType;

                    if(schedule.status === true) {
                        let theaterNumberGroup = selectTimeGroup.find(`.theaterNumber-group[data-theater-number="${theaterNumber}"]`);
                        if (theaterNumberGroup.length === 0) {
                            theaterNumberGroup = $(`
                                <div class="theaterNumber-group" data-theater-number="${theaterNumber}">
                                    <h4>${theaterNumber}관</h4>
                                    <ul></ul>
                                </div>
                            `);
                            selectTimeGroup.parent().removeClass('info-none');
                            selectTimeGroup.removeClass('info-none');
                            selectTimeGroup.append(theaterNumberGroup);
                        }

                        // 시간표 항목 생성
                        const scheduleItem = $(`
                                <li class="schedule-item">
                                    <input type="hidden" class="schedule-id" value="${scheduleId}" />
                                    <input type="hidden" class="schedule-sessionType" value="${schedule.sessionType}" />
                                    <img src="/images/sun.png" alt="조조" style="display: none;"/>
                                    <img src="/images/moon.png" alt="심야" style="display: none;"/>
                                    <h5>${startTime}</h5>
                                    <h6><span style="color: #F24949">${availableSeats}석</span>/${totalSeats}석</h6>
                                    <input type="hidden" class="end-time" value="${endTime}" />
                                </li>
                            `);

                        // startTime과 비교하여 이미지 표시
                        if (sessionType == '조조') {
                            scheduleItem.find('img[alt="조조"]').css('display', 'inline');
                        } else if (sessionType == '심야') {
                            scheduleItem.find('img[alt="심야"]').css('display', 'inline');
                        }

                        theaterNumberGroup.find("ul").append(scheduleItem);
                    }
                });
            }
        });
    </script>
</th:block>
</body>
</html>