<article id="mypage_order_detail">
    <!-- 예매내역 -->
    <section>
        <div class="history">
            <header>
                <h5>스낵 주문상세 조회</h5>
            </header>
            <hr />
            <section>
                <article class="history-get">
                    <div class="order-info">
                        <header>
                            <h4 th:text="'주문번호 : ' + ${paymentInfo.getMerchantUid()}">주문번호</h4><span th:text="'결제일시 : ' + ${#temporals.format(paymentInfo.getRegDate(), 'yyyy-MM-dd HH:mm:ss')}">결제일시</span>
                        </header>
                        <hr />
                        <section>
                            <b>주문상품</b>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">상품정보</th>
                                        <th>가격</th>
                                        <th>수량</th>
                                        <th>결제상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img style="max-width: 100px; height: auto;" th:alt="${paymentInfo.getSnack().snack_alt}"
                                                 th:src="@{/images/menu/{image}(image=${paymentInfo.getSnack().snack_image})}"></td>
                                        <td th:text="${paymentInfo.getProductName()}">제품명</td>
                                        <td th:text="${paymentInfo.getTotalPrice()+'원'}">5000</td>
                                        <td th:text="${paymentInfo.getProductCount()+'개'}">2</td>
                                        <td th:text="${paymentInfo.getPaymentStatus()}">결제완료</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="price-calc">
                                <span>주문 상품금액 </span><span th:text="${paymentInfo.getTotalPrice()+'원'}">10000</span><span> - </span><span>총 할인금액 </span><span th:text="0원">1000</span>
                                <span> = </span><span>결제금액 </span><span class="total_price" th:text="${paymentInfo.getTotalPrice()+'원'}">9000</span>
                            </div>
                            <b>결제정보</b>
                            <table>
                                <tr>
                                    <th>결제방식</th>
                                    <td>신용카드</td>
                                </tr>
                                <tr>
                                    <th>결제금액</th>
                                    <td th:text="${paymentInfo.getTotalPrice()} + '원'">9000원</td>
                                </tr>
                                <tr>
                                    <th>결제일시</th>
                                    <td th:text="${#temporals.format(paymentInfo.getRegDate(), 'yyyy/MM/dd HH:mm:ss')}">2024/06/28 04:57:36</td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </article>
            </section>
        </div>
    </section>
</article>