<article id="mypage_reservation">
    <!-- 예매내역 -->
    <section>
        <div class="reservation history">
            <header style="margin-bottom: 1em">
                <h5>영화 예매 내역</h5>
            </header>
            <hr style="top:0; margin-bottom: 1em">
            <section>
                <article class="history_item" th:each="moviePayment : ${moviePaymentInfo}"
                         th:unless="${moviePaymentInfo == null or moviePaymentInfo.isEmpty()}">
                    <header>
                        <h4 class="reservation-status">결제완료</h4>
                    </header>
                    <div class="history_data">
                        <input type="hidden" th:value="${moviePayment.getMovie().id}" class="movieId"/>
                        <img class="featured-img" alt="영화 포스터" th:src="@{'https://image.tmdb.org/t/p/w500/' + ${moviePayment.getMovie().getPosterPath()}}">
                        <div>
                            <p th:text="'예매번호 : ' + ${moviePayment.getMerchantUid()}">예매번호</p>
                            <input type="hidden" th:value="${moviePayment.getScheduleId()}" class="schedule-id">
                            <p th:text="${moviePayment.getProductName()}">범죄도시 4</p>
                            <p><span class="history-data-date" th:text="${moviePayment.getContent1()}">상영일자</span> <span class="history-data-time" th:text="${moviePayment.getContent2()}">시간</span></p>
                            <p><span class="history-data-theater" th:text="${moviePayment.getContent3()}">상영관</span> <span class="history-data-seats" th:text="${moviePayment.getContent4()}">좌석</span></p>
                        </div>
                    </div>
                    <div class="button_box" th:if="${moviePayment.getPaymentStatus() == '결제완료'}"> <!--결제상태-->
                        <button type="button" class="detail_btn" id="movie_detail" th:data-reservation-idx="${moviePayment.getId()}">예매상세</button>
                        <button type="button" class="cancel_btn" id="movie_cancel" th:data-reservation-merchantUid="${moviePayment.getMerchantUid()}" th:data-reservation-impUid="${moviePayment.getImpUid()}">예매취소</button>
                    </div>
                    <div class="button_box" th:unless="${moviePayment.getPaymentStatus() == '결제완료'}"> <!--결제취소상태-->
                        <button type="button" style="width: 100%" class="detail_btn" id="movie_cancel_detail" th:data-reservation-idx="${moviePayment.getId()}">예매상세</button>
                    </div>
                </article>
                <article th:if="${moviePaymentInfo == null or moviePaymentInfo.isEmpty()}">
                    <div class="history_none">
                        <p class="movie_nm">예매하신 내역이 없습니다.</p>
                    </div>
                </article>

                <!-- 더보기 버튼 -->
                <div id="moreContainer"
                     th:if="${moviePaymentInfo.hasNext}">
                    <button id="moreBtn" onclick="loadMore()"><img src="/images/under-arrow.png" alt="더보기 버튼" /></button>
                </div>
            </section>
        </div>
    </section>
</article>

<!--sweetalert 사용 -->
<script src="/personal-scripts/util.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        let currentPage = 0; // 현재 페이지 번호
        const scheduleId = $('.schedule-id').val();
        const seatsIdArray = [];

        window.loadMore = function() {
            currentPage++; // 다음 페이지로
            $.ajax({
                url: '/mypage/reservation/more?page=' + currentPage + '&size=5', // 페이지 정보 포함
                type: 'GET',
                success: function(data) {
                    // 데이터를 페이지에 추가하는 로직
                    let container = $('.history'); // 주문 내역을 추가할 컨테이너
                    data.content.forEach(moviePayment => {
                        let item = null;
                        if(moviePayment.paymentStatus == '결제완료') {
                            item = `
                                        <article class="history_item">
                                        <header>
                                            <h4 class="reservation-status">결제완료</h4>
                                        </header>
                                        <div class="history_data">
                                            <input type="hidden" value="${moviePayment.movie.id}" class="movieId"/>
                                            <img class="featured-img" alt="영화 포스터" src="https://image.tmdb.org/t/p/w500/${moviePayment.movie.poster_path}">
                                            <div>
                                                <p>예매번호 : ${moviePayment.merchantUid}</p>
                                                <input type="hidden" value="${moviePayment.scheduleId}" class="schedule-id">
                                                <p>${moviePayment.productName}</p>
                                                <p><span class="history-data-date">${moviePayment.content1}</span> <span class="history-data-time">${moviePayment.content2}</span></p>
                                                <p><span class="history-data-theater">${moviePayment.content3}</span> <span class="history-data-seats">${moviePayment.content4}</span></p>
                                            </div>
                                        </div>
                                        <div class="button_box"> <!--결제상태-->
                                            <button type="button" class="detail_btn" id="movie_detail" data-reservation-idx="${moviePayment.id}">예매상세</button>
                                            <button type="button" class="cancel_btn" id="movie_cancel" data-reservation-merchantUid="${moviePayment.merchantUid}" data-reservation-impUid="${moviePayment.impUid}">예매취소</button>
                                        </div>
                                        </article>`;
                        } else {
                            item = `
                                            <article class="history_item">
                                                <header>
                                                    <h4>결제완료</h4>
                                                </header>
                                                <header>
                        <h4 class="reservation-status">결제완료</h4>
                    </header>
                    <div class="history_data">
                        <input type="hidden" value="${moviePayment.movie.id}" class="movieId"/>
                        <img class="featured-img" alt="영화 포스터" src="https://image.tmdb.org/t/p/w500/${moviePayment.movie.poster_path}">
                        <div>
                            <p>예매번호 : ${moviePayment.merchantUid}</p>
                            <input type="hidden" value="${moviePayment.scheduleId}" class="schedule-id">
                            <p>${moviePayment.productName}</p>
                            <p><span class="history-data-date">${moviePayment.content1}</span> <span class="history-data-time">${moviePayment.content2}</span></p>
                            <p><span class="history-data-theater">${moviePayment.content3}</span> <span class="history-data-seats">${moviePayment.content4}</span></p>
                        </div>
                    </div>
                    <div class="button_box"> <!--결제취소상태-->
                        <button type="button" style="width: 100%" class="detail_btn" id="movie_cancel_detail" data-reservation-idx="${moviePayment.id}">예매상세</button>
                    </div>
                                            </article>`;
                        }

                        container.append(item);
                    });

                    // 다음 페이지가 없으면 더보기 버튼 숨김
                    if(data.content.length < 5) {
                        $('#moreContainer').hide();
                    }
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        }

        // Using event delegation to handle dynamically added buttons
        $(document).on('click', '#movie_cancel', function() {
            const merchant_uid = $(this).data('reservation-merchantuid');
            const imp_uid = $(this).data('reservation-impuid');

            var seatsContent = $(this).closest('.history_item').find('.history-data-seats').text().trim();
            var seats = seatsContent.split(/\s+/);
            var firstToken = seats[0];
            var regex = /^\d+관$/;

            if (regex.test(firstToken)) {
                seats.splice(0, 1); // 첫 번째 요소(관 정보) 제거
            }

            seatsIdArray.push(scheduleId + seats);

            Swal.fire({
                title: "결제취소",
                text: "결제를 취소하시겠습니까?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "취소하기",
                cancelButtonText: "아니오"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/payment/paymentCancel',
                        data: {
                            merchant_uid: merchant_uid,
                            imp_uid: imp_uid
                        },
                        success: function(response_complete) {
                            if (response_complete.errorMsg !== "errorMsg") {
                                let params = new URLSearchParams();
                                params.append("imp_uid", response_complete.imp_uid);
                                cancelReservedSeats(scheduleId, seatsIdArray);
                                window.location.href = '/payment/paymentCancelSuccessful?' + params.toString(); // 결제가 완료된 후 리디렉션할 페이지
                            } else {
                                swtAlertOne("죄송합니다. 다시 시도해주세요.");
                            }
                        },
                        error: function() {
                            swtAlertOne("서버 통신에 실패했습니다.");
                        }
                    });
                }
            });
        });

        // Using event delegation to handle dynamically added buttons for detail view
        $(document).on('click', '#movie_detail, #movie_cancel_detail', function() {
            const reservationIdx = $(this).data('reservation-idx');
            $('#content').load('/mypage/reservation/detail?paymentId=' + reservationIdx);
        });
    });

    function cancelReservedSeats(scheduleId, seatIds) {
        $.ajax({
            type: 'POST',
            url: '/reservation/reserveSeatsCancel?scheduleId=' + scheduleId,
            contentType: 'application/json',
            data: JSON.stringify(seatIds),
            success: function(response) {
                console.log('Seats canceled successfully:', response);
            },
            error: function(error) {
                console.log('Error canceling seats: ' + JSON.stringify(error));
            }
        });
    }
</script>
