<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemacast</title>
    <link href="/assets/css/login.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            let reset = $("#reset");

            //----------- reset ---------------------
            reset.on("click", function(e) {
                e.preventDefault();
                $(this).parent().parent().siblings("form")
                    .find(".input__block").find(".input").val("");
            });

            $("#signup_btn").on("click", function() {
                window.location.href = "/member/new";
            });
        });
    </script>

</head>
<body>
<div class="container">
    <!-- Heading -->
    <h1><a href="/">CINEMACAST</a></h1>

    <ul class="links">
        <li>
            <a href="#" id="signin"></a>
        </li>
        <li>
            <a href="#" id="signup"></a>
        </li>
        <li>
            <a href="#" id="reset">RESET</a>
        </li>
    </ul>

    <!-- Form -->
    <form action="/member/login" id="loginForm" method="post">
        <!-- email input -->
        <div class="first-input input__block first-input__block">
            <input class="input" id="email_login" name="email" placeholder="Email" required type="email"/>
        </div>
        <!-- password input -->
        <div class="input__block">
            <input class="input" id="password_login" name="password" placeholder="Password" required type="password"/>
            <p class="errorMessage" th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
        </div>

        <!-- sign in button -->
        <button class="signin_btn" type="submit">
            로그인
        </button>
        <!-- sign up button -->
        <button class="google_btn" onclick="location.href='/oauth2/authorization/google'">
            <img src="/images/google-logo.png" alt="구글 로고" />
            구글 로그인
        </button>
        <button class="naver_btn" onclick="location.href='/oauth2/authorization/naver'">
            <img src="/images/naver-logo.png" alt="네이버 로고" />
            네이버 로그인
        </button>
    </form>

    <div id="sign_action">
        <div id="find">
            <button class="find_link signup_btn" onclick="location.href='/member/new'">
                이메일 가입
            </button>
            <button class="find_link" onclick="location.href='/member/findId'">
                이메일 찾기
            </button>
            <button class="find_link" onclick="location.href='/member/findPassword'">
                비밀번호 찾기
            </button>
        </div>
        <div class="remember_email">
            <input id="remember_email" class="check" name="save_check" th:checked="${cookieCheck}" type="checkbox" value="Y"/>
            <label for="remember_email"></label>
            <label for="remember_email">
                <span>이메일 기억하기</span>
            </label>
        </div>
    </div>

<!--    &lt;!&ndash; 관리자 회원가입 (삭제예정) css 불필요 &ndash;&gt;-->
<!--    <button class="admin_btn" onclick="location.href='/member/new2'">-->
<!--        관리자 회원가입(삭제예정)-->
<!--    </button>-->
</div>

<footer>
    <p>
        Thank you for watching
    </p>
</footer>
</body>
<script>
    // 페이지 로드 시 실행되는 함수
    window.onload = function() {
        // checkIdBox 쿠키에서 아이디 값을 가져옴
        var username = getCookie("checkIdBox");

        // 가져온 아이디 값을 아이디 입력 필드에 채움
        if(username) {
            document.getElementById("email_login").value = username;
            document.getElementById("remember_email").checked = true; // 쿠키가 있으면 체크박스를 체크 상태로 설정
        }
    };

    // 쿠키 값을 가져오는 함수
    function getCookie(name) {
        var cookieValue = null;
        if(document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for(var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if(cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.getElementById("loginForm").addEventListener("submit", function(event) {
        var checkIdBox = document.getElementById("remember_email");
        var username = document.getElementById("email_login").value;
        // 서버로부터 받은 응답
        var responseData = {
            email: username,
            // 세션에 데이터를 더 넣을 순 있는데 로그인시에 저장될 데이터는 email뿐이라 email만 넣어둠
        };

        // 세션 스토리지에 사용자 정보 저장
        sessionStorage.setItem("userInfo", JSON.stringify(responseData));

        // 아이디 기억하기 쿠키 기능 구현(유효기간 7일로 설정해둠)
        if(checkIdBox.checked) {
            document.cookie = "checkIdBox=" + username + "; expires=" + new Date(Date.now() + 7 * 24 * 60 * 60 * 1000) + "; path=/";
        } else {
            // 체크 해제한 경우 쿠키 삭제
            document.cookie = "checkIdBox=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    });
</script>
</html>