<!DOCTYPE HTML>
<html lang="en"
      layout:decorate="~{layout/layout_total}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body class="no-sidebar is-preload">
<th:block layout:fragment="content">
    <div id="page-wrapper">
        <!-- Main -->
        <div class="wrapper style1">
            <div class="container payment_successful">
                <article class="special" id="main">
                    <header>
                        <h4>결제가 취소되었습니다.</h4>
                    </header>
                    <section>
                        <div class="order-header">
                            <div class="row order-date">
                                <span th:text="${#temporals.format(paymentInfo.getUpdateDate(), 'yyyy.MM.dd')}">2024.06.28</span>
                                <span th:text="${#temporals.format(paymentInfo.getUpdateDate(), 'HH:mm:ss')}">11:30:08</span>
                            </div>
                            <div class="row order-number">
                                <h4>주문번호</h4><h4 th:text="${paymentInfo.getMerchantUid()}">20240628-10009896</h4>
                            </div>
                        </div>
                        <h4>주문상품</h4>
                        <div class="order-info">
                            <header>
                                <h4>취소완료</h4>
                            </header>
                            <div class="order-info-section" th:if="${paymentInfo.getProductType() == 'SC'}" th:each="productInfo : ${productsInfo}"> <!-- 복수 품목 -->
                                <img style="max-width: 100px; height: auto;" th:src="@{/images/menu/{image}(image=${productInfo.snack_image})}" th:alt="${productInfo.snack_alt}"/>
                                <div>
                                    <span th:text="${paymentInfo.getProductName()}">제품명</span>
                                    <p th:text="${paymentInfo.getProductCount()}" th:if="${paymentInfo.getProductType() == 'MO'}">수량</p>
                                    <p th:text="${paymentInfo.getProductCount()}+'개'" th:unless="${paymentInfo.getProductType() == 'MO'}">수량</p>
                                    <p th:text="${paymentInfo.getTotalPrice()}+'원'">총 금액</p>
                                </div>
                            </div>
                            <div class="order-info-section" th:unless="${paymentInfo.getProductType() == 'SC'}"> <!-- 단일 품목 -->
                                <div th:each="movie, iterStat : ${movieDTOs}">
                                    <img  style="max-width: 100px; height: auto;" th:src="@{'https://image.tmdb.org/t/p/w500/' + ${movie.posterPath}}" alt="영화 포스터" th:if="${paymentInfo.getProductType() == 'MO'}" />
                                </div>
                                <img style="max-width: 100px; height: auto;" th:src="@{/images/menu/{image}(image=${productInfo.snack_image})}" th:alt="${productInfo.snack_alt}" th:unless="${paymentInfo.getProductType() == 'MO'}"/>
                                <div>
                                    <span th:text="${paymentInfo.getProductName()}">제품명</span>
                                    <p th:text="${paymentInfo.getProductCount()}" th:if="${paymentInfo.getProductType() == 'MO'}">수량</p>
                                    <p th:text="${paymentInfo.getProductCount()}+'개'" th:unless="${paymentInfo.getProductType() == 'MO'}">수량</p>
                                    <p th:text="${paymentInfo.getTotalPrice()}+'원'">총 금액</p>
                                </div>
                            </div>
                        </div>
                        <h4>결제정보</h4>
                        <div class="payment-info">
                            <header>
                                <p class="big-span"><span>총 금액</span><span th:text="${paymentInfo.getTotalPrice()}+'원'">11,000원</span></p>
                                <p class="light-span"><span>상품금액</span><span th:text="${paymentInfo.getTotalPrice()}+'원'">11,000원</span></p>
                            </header>
                            <p th:unless="${minusPoint} == null"><span>시네마캐스트 포인트 차감</span><span th:text="${minusPoint}+'p'">1000p</span></p>
                            <p th:if="${minusPoint} == null"><span>시네마캐스트 포인트 차감</span><span th:text="0p">1000p</span></p>
                            <p th:unless="${plusPoint} == null"><span>시네마캐스트 포인트 재적립</span><span th:text="${plusPoint}+'p'">50p</span></p>
                            <p th:if="${plusPoint} == null"><span>시네마캐스트 포인트 재적립</span><span th:text="0p">50p</span></p>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>